body {
  background-image: url("../img/av3.jpg");
  background-size: cover;
  /* height: auto; */
  /* width: auto; */
  background-repeat: no-repeat;
  font-family: 'Cookie', cursive;
  font-family: 'Dosis', sans-serif;
  /* background-color: black; */
}


.container {
	float: left;
  width: 50%;
  padding-right: 10%;
}

.form-simple .font-medium {
  font-size: 2.0rem;
  padding-bottom: 25%
}

.form-simple .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.form-simple input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ff3547;
  -webkit-box-shadow: 0 1px 0 0 #ff3547;
  box-shadow: 0 1px 0 0 #ff3547;
}

.form-simple input[type=textpadding-bottom: 50%;]:focus:not([readonly])+label {
  color: #4f4f4f;
}

.form-simple input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #ff3547;
  -webkit-box-shadow: 0 1px 0 0 #ff3547;
  box-shadow: 0 1px 0 0 #ff3547;
}

.form-simple input[type=password]:focus:not([readonly])+label {
  color: #4f4f4f;
}

h1 {
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 50px;
  text-decoration: underline;
	color: red;
  padding: 5%;
}

header {
  /*background-color: #070802;*/
  /*background-color: rgba(0, 0, 0, .8)*/
  ;
  /*margin:5%;*/
  color: red;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

p {
  color: white;
  background-color: white;
  background-color: rgba(1, 1, 1, .5);
  margin: 5%;
  text-align: center;
}

.col-md-9 {
  padding-left: 40%;
}

input[type=text], [type=email] {
	background-color: transparent;
	width: 60%;
}

input[type=number], [type=password] {
	background-color: transparent;
	width: 60%;
}
.side-b{
	float: center
}
/* .side-a{
	float: left;
} */
.col-md-6 {
  padding-left: 3%;
}

h2 {
  padding-left: 40%;
}

.form-control {
  background-color: inherit;
}

.footer {
  /* position: fixed;  */
bottom: 0;
color: red;
text-align: center;
font-size: 150%;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google-plus {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

#070802
